<div class="container">
    <div class="line-container">
        <div class="total-info total-sum">
            <span>Общая сумма долга</span>
            <span class="currency">{{totalInfo.commonDoubtSum | currency: 'RUB':'symbol-narrow'}}</span>
        </div>
        <div class="additional">
            <p>За кредит 1000</p>
            <p>За ипотеку 42000</p>
            <p>За за сберовский кредит 15000</p>
            <p>За кредитку 3000</p>
        </div>
    </div>
    <div class="line-container">
        <div class="total-info total-pay-per-month">
            <span>Общая сумма платежей в месяц</span>
            <span class="currency">{{totalInfo.commonPayPerMonth | currency: 'RUB':'symbol-narrow'}}</span>
        </div>
    </div>
</div>
