.container {
    padding: 10px;

    .line-container {
        margin-bottom: 10px;
    }
    .total-info {
        display: flex;
        justify-content: space-between;

        &.total-sum {
            margin-bottom: 10px;
        }
    }
    .additional {
        background: #f3f2f2;
        padding: 0 5px;
        height: 0;
        transition: all ease-in 0.2s;
        opacity: 0;
        div {
            border-bottom: 1px dotted #000;
            margin-bottom: 10px;
        }
        .pay-per-month-row {
            display: flex;
            justify-content: space-between;
        }

        &.expanded {
            height: 160px;
            opacity: 1;
            padding: 5px;
        }
    }

    .additional-title {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background: #f3f2f2;
        padding: 5px;

        &.expanded {

            .arrow {
                transform: rotateX(180deg)
            }
        }
    }

}
