<div [routerLink]="['/doubts/doubt-list']" class="btn">Назад</div>

<app-doubt-item [bank]="currentBank"></app-doubt-item>

<div class="tab-navigation">
    <div class="tab-button doubt-list"
        (click)="payHistory = false"
        [class.active]="!payHistory">Внести платеж</div>
    <div class="tab-button common-info"
        (click)="payHistory = true"
        [class.active]="payHistory">История</div>
</div>

<ng-template [ngIf]="payHistory" [ngIfElse]="setPay">
    <app-pay-history [bank]="currentBank"></app-pay-history>
</ng-template>

<ng-template #setPay>
    <app-set-pay [bank]="currentBank"></app-set-pay>
</ng-template>
 <!-- <router-outlet></router-outlet> -->
