:host {
    position: fixed;
    height: 100%;
    width: 250px;
    top: 0;
    right: -250px;
    z-index: 2;
    box-shadow: 0 0 10px 0px #000;
    background: #fff;
    transition: all ease-in 0.1s;

    &.open {
        right: 0;
    }

    .panel-content {
        padding-top: 40px;

        .title {
            padding: 0px 0 10px;
            text-align: center;
            font-size: 16px;
            border-bottom: 1px solid #ccc;
        }

        .menu {
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 15px;

            &-item {
                border: 2px solid #2a7fe0;
                border-radius: 8px;
                padding: 15px 5px;
                text-align: center;
                cursor: pointer;

                &:hover {
                    background: #2a7fe011 ;
                }
            }
        }
    }
}

.btn-close-panel {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
