<div *ngIf="history; else empty" class="container">
    <div *ngFor="let row of history"
        class="row"
        [class.positive]="row.sumPay > 0"
        [class.negative]="row.sumBack > 0">
        <div class="bank">{{row.bank}}</div>
        <div class="creditName">{{row.creditName}}</div>
        <div class="title-row">{{row.sumPay > 0 ? 'Погашено ' : 'Потрачено '}}</div>

        <div class="sum currency" [class.positive]="row.sumPay > 0">
            {{row.sumPay == 0 ? '' : row.sumPay | currency: 'RUB':'symbol-narrow'}}
            {{row.sumBack == 0 ? '' : '-'+row.sumBack | currency: 'RUB':'symbol-narrow'}}
        </div>

        <div class="reason">{{row.reason}}</div>
        <div class="date">{{row.date | date:'dd.MM.yyyy'}}</div>
    </div>
</div>

<ng-template #empty>
    <div>
        История пока пуста
    </div>
</ng-template>
